.card__delete {
  display: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/card-delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 19.3px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.card__delete:hover {
  opacity: 0.6;
}
